#Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

#Package Installation [Future Pip versions will build pacakages in tree.]
build/
*.egg-info

# Folder view configuration files
.DS_Store
